body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    padding-top: 5em;
}

.testimonio {
    background-color: #e0e2e4;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 2.5em;
}

footer {
    background-image: url(../img/smartphones.png);
}